<% content_for :banner do %>

  <div id="showcase" class="showcase">
    <!-- <% for showcase in Showcase.all %>
      <div class="showcase-slide">
        <div class="showcase-content">
          <div class="showcase-content-wrapper">
            <%= link_to(
                    image_tag(showcase.attachment.url(:original), 
                          :alt => "#{showcase.viewable.name} : #{showcase.viewable.description}"),
                                showcase.viewable) %>
          </div>
        </div>
      </div>
    <% end %> -->
    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products/embroidered-logo"><img alt="Embroidered Logo : Finest Pima cotton with 10% elastane for a comfortable fit and great shape retension&lt;span color=&quot;#fefefe&quot; style=&quot;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;&quot;&gt;&lt;br&gt;&lt;/span&gt;" src="http://cdn0.per5.co.uk/assets/showcase/94/original/Slider-Image-1.jpg?1314802917" /></a> 
        </div> 
      </div> 
    </div>

    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products/logo"><img alt="Classic American : Classic American T-shirt 100%&amp;nbsp;super combed&amp;nbsp;cotton" src="http://cdn1.per5.co.uk/assets/showcase/87/original/Slider-Image-2.jpg?1314277118" /></a> 
        </div> 
      </div> 
    </div>

    <div class="showcase-slide">
        <div class="showcase-content">
          <div class="showcase-content-wrapper">
            <a href="/products/persianality"><img alt="persianality : Finest Pima cotton with 10% elastane for a comfortable fit and great shape retention. Swarovski crystal logo." src="http://cdn3.per5.co.uk/assets/showcase/114/original/Slider-Image-3.jpg?1315302272" /></a>
          </div>
        </div>
      </div> 

    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products/logo"><img alt="Classic American : Classic American T-shirt 100%&amp;nbsp;super combed&amp;nbsp;cotton" src="http://cdn3.per5.co.uk/assets/showcase/88/original/Slider-Image-4.jpg?1314277149" /></a> 
        </div> 
      </div> 
    </div> 

    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products/akh-joon"><img alt="akh Joon : Finest Pima cotton with 10% elastane for a comfortable fit and great shape retension" src="http://cdn0.per5.co.uk/assets/showcase/31/original/Slider-Image-5.jpg?1314099101" /></a> 
        </div> 
      </div> 
    </div>

    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products/logo"><img alt="Classic American : Classic American T-shirt 100%&amp;nbsp;super combed&amp;nbsp;cotton" src="http://cdn1.per5.co.uk/assets/showcase/89/original/Slider-Image-6.jpg?1314277172" /></a> 
        </div> 
      </div> 
    </div>

    <div class="showcase-slide"> 
      <div class="showcase-content"> 
        <div class="showcase-content-wrapper"> 
          <a href="/products"><img alt="Clothing by PER5" src="http://cdn2.per5.co.uk/images/per5-MAINsection-ALL2.jpg" /></a> 
        </div> 
      </div> 
    </div>

  </div>

<% end %>