<% content_for :sidebar do %>
  &nbsp;
<% end %>
<div class="textSpacing">
  <h2>Contact us</h2>
  <hr>
  <div class="defaultForm">
    <%= semantic_form_for @message do |form| %>
      <%= form.inputs do %>
        <%= form.input :name %>
        <%= form.input :email %>
        <%= form.input :content, :as => :text, :input_html => { :cols => 40, :rows => 5 } %>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button %>
      <% end %>
    <% end %>
  </div>
</div>