<div class="line">
  <div class="unit size1of2 firstUnit">
    <%= form.semantic_fields_for :bill_address do |bill_form| %>
      <%= bill_form.inputs :name => "billing address", :id => "billing" do %>
        <li>
          <label>&nbsp;</label>
        </li>
        <%= bill_form.input :firstname %>
        <%= bill_form.input :lastname %>
        <%= bill_form.input :address1 %>
        <%= bill_form.input :address2 %>
        <%= bill_form.input :city %>
        <%= bill_form.input :zipcode %>
        <%= bill_form.input :country_id, :as => :select, :collection => available_countries %>
        <%= bill_form.input :phone, :as => :string %>
      <% end %>
    <% end -%>
  </div>
  <div class="unit size2of2 lastUnit <%= billing_used_class(@order) %>">
    <%= form.semantic_fields_for :ship_address do |ship_address| %>
      <%= ship_address.inputs :name => "shipping address", :id => "shipping" do %>
        <li>
          <label for="order_use_billing" id="use_billing">Use billing address?</label>
          <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %>
        </li>
        <%= ship_address.input :firstname %>
        <%= ship_address.input :lastname %>
        <%= ship_address.input :address1 %>
        <%= ship_address.input :address2 %>
        <%= ship_address.input :city %>
        <%= ship_address.input :zipcode %>
        <%= ship_address.input :country_id, :as => :select, :collection => available_countries %>
        <%= ship_address.input :phone, :as => :string %>
      <% end %>
    <% end -%>
  </div>
 
</div>

<div class="line" id="saveAndContinue">
 <div class="unit size1of1">
   <%= form.buttons do %>
    <%= form.commit_button :label => "Save and continue" %>
   <% end -%>
 </div>
</div>