<%= form.inputs :name => t("shipping_method"), :id => "shipping_method" do %>
  <% @order.rate_hash.each do |shipping_method| %>
    <label>
      <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
    </label>
    <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
  <% end %>
  <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
    <p id="minstrs">
      <%= form.label :special_instructions, t("shipping_instructions") %><br />
      <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
    </p>
  <% end %>
<% end -%>
<div class="line" id="saveAndContinue">
 <div class="unit size1of1">
   <%= form.buttons do %>
    <%= form.commit_button :label => "Save and continue" %>
   <% end -%>
 </div>
</div>