<div class="line" id="saveAndContinue">
  <div class="unit 1of1">
    <%= form.inputs :name => t("payment_information"), :id => "payment" do %>
      <%= hook :checkout_payment_step, {:form => form} do %>
        <% @order.available_payment_methods.each do |method| %>
          <li>
            <label>
              <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
            </label>
            <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
          </li>
        <% end %>
          <% @order.available_payment_methods.each do |method| %>
            <li id="payment_method_<%= method.id %>"<%= ' class="last"' if method == @order.available_payment_methods.last %>>
              <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
            </li>
          <% end %>
        <%= hook :coupon_code_field, {:form => form} %>
      <% end %>
    <% end -%>
  </div>
</div>



<!-- <div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div> -->