<div class="line">
  <div class="unit size1of3 firstUnit">
    <h3><%= t(:order_summary) %></h3>
    <div class="simpleTable">
      <table>
        <colgroup width="30%"></colgroup>
        <colgroup width="60%"></colgroup>
        <tbody>
          <tr>
            <th><%= t('item_total') %>:</th>
            <td><%= number_to_currency order.item_total %></td>
          </tr>
          <tbody id="summary-order-charges">
            <% order.adjustments.each do |adjustment| %>
              <tr>
                <th><%= adjustment.label %>: </th>
                <td><%= number_to_currency adjustment.amount %></td>
              </tr>
            <% end %>
          </tbody>
          <tr>
            <th><%= t('order_total') %>:</th>
            <td><span id='summary-order-total'><%= number_to_currency @order.total %></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="unit size1of3">
    <div class="textSpacing">
      <% if !@order.bill_address.empty? %>
        <h2>billing address</h2>
        <p><%= @order.bill_address.firstname %></p>
        <p><%= @order.bill_address.lastname %></p>
        <p><%= @order.bill_address.address1 %></p>
        <p><%= @order.bill_address.address2 %></p>
        <p><%= @order.bill_address.city %></p>
        <p><%= @order.bill_address.zipcode %></p>
        <p><%= @order.bill_address.country.name %></p>
        <p>Tel: <%= @order.bill_address.phone %></p>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
  <div class="unit size1of3 lastUnit">
    <h2>shipping address</h2>    
    <% if (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %>
      <p>Shipping to the billing address</p>
    <% elsif !@order.ship_address.empty? %>
      <p><%= @order.ship_address.firstname %></p>
      <p><%= @order.ship_address.lastname %></p>
      <p><%= @order.ship_address.address1 %></p>
      <p><%= @order.ship_address.address2 %></p>
      <p><%= @order.ship_address.city %></p>
      <p><%= @order.ship_address.zipcode %></p>
      <p><%= @order.ship_address.country.name %></p>
      <p>Tel: <%= @order.ship_address.phone %></p>
    <% end %>
  </div>
</div>