<% content_for :head do %>
  <%= javascript_include_tag  'checkout', "#{Spree::Config.get(:site_url)}states.js" %>
<% end %>
<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div class="textSpacing" id="checkout">
  <h1><%= t("checkout")%></h1>
  <%= checkout_progress %>
  <br clear="left" />
  <%= render "shared/error_messages", :target => @order %>
  <%= hook :checkout_summary_box do %>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary">
        <%= render 'summary', :order => @order %>
      </div>
    <% end %>
  <% end %>
  <div class="addressForm">
    <%= semantic_form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
      <%= render @order.state, :form => form %>
      <input id="post-final" type="submit" style="display:none"/>
  <% end %>
  </div>
</div>
