<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div id="registration" class="textSpacing">
  <%= render "shared/error_messages", :target => @user %>
  <h2><%= t("registration")%></h2>
  <div id="account">
    <!-- TODO: add partial with registration form -->
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout">
      <%= render "shared/error_messages", :target => @order %>
      <br>
      <br>
      <p>We require your email address to begin processing your order</p>
      <br>
      <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
        <p>
          <%= f.label :email, t("email") %><br />
          <%= f.text_field :email, :class => 'title'  %>
        </p>
        <p><%= submit_tag t("continue"), :class => 'button primary' %></p>
      <% end %>
    </div>
  <% end %>
</div>