<% @body_id = 'login' %>
<% content_for :sidebar do %>
  &nbsp;
<% end %>
<div class="textSpacing">
  <%= render "shared/error_messages", :target => @user %>
  <h2><%= t(:change_my_password) %></h2>
  <div class="loginForm">
    <%= semantic_form_for @user, :url => user_password_path, :html => {:method => :put} do |form| %>
      <%= form.inputs do %>
        <%= form.input :password %>
        <%= form.input :password_confirmation %>
        <%= form.input :reset_password_token, :as => :hidden %>
      <% end -%>
      <%= form.buttons do %>
        <%= form.commit_button :label => "Set new password" %>
      <% end -%>
    <% end %>
  </div>
</div>