<% @body_id = 'login' %>
<% content_for :sidebar do %>
  &nbsp;
<% end %>
<div class="textSpacing">
  <h2><%= t(:forgot_password) %></h2>
  <p><%= t(:instructions_to_reset_password) %></p>
  <div class="loginForm">
    <%= semantic_form_for User.new, :as => :user, :url => user_password_path do |form| %>
      <%= form.inputs do %>
        <%= form.input :email %>
      <% end -%>
      <%= form.buttons do %>
        <%= form.commit_button :label => "Reset password" %>
      <% end -%>
    <% end %>
  </div>
</div>