/* line 1, ../../app/stylesheets/print.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt;
}

/* line 2, ../../app/stylesheets/print.scss */
.container {
  background: none;
}

/* line 3, ../../app/stylesheets/print.scss */
hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}

/* line 4, ../../app/stylesheets/print.scss */
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* line 5, ../../app/stylesheets/print.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

/* line 6, ../../app/stylesheets/print.scss */
code {
  font: .9em "Courier New", Monaco, Courier, monospace;
}

/* line 7, ../../app/stylesheets/print.scss */
a img {
  border: none;
}

/* line 8, ../../app/stylesheets/print.scss */
p img.top {
  margin-top: 0;
}

/* line 9, ../../app/stylesheets/print.scss */
blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em;
}

/* line 10, ../../app/stylesheets/print.scss */
.small {
  font-size: .9em;
}

/* line 11, ../../app/stylesheets/print.scss */
.large {
  font-size: 1.1em;
}

/* line 12, ../../app/stylesheets/print.scss */
.quiet {
  color: #999;
}

/* line 13, ../../app/stylesheets/print.scss */
.hide {
  display: none;
}

/* line 14, ../../app/stylesheets/print.scss */
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

/* line 15, ../../app/stylesheets/print.scss */
a:link:after, a:visited:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}
