<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; height: 80px; }
  #mc_embed_signup label {color: #666;font-size: 10px;}
</style>
<div id="mc_embed_signup">
  <form action="http://per5.us2.list-manage.com/subscribe/post?u=6cc13e99f34efecef8fbf37dd&amp;id=c12d6549cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div><label for="mce-EMAIL">Subscribe to our mailing list</label></div>
    <input type="email" value="" name="EMAIL" class="email" size="35" id="mce-EMAIL" placeholder="email address" required>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>