<div class="outOfStock">
  <div class="hd">
    <h2>Item currently out of stock</h2>
  </div>
  <div class="bd">
    <p>You can still order this item and it will be sent to you as soon as it becomes available.</p>
  </div>
  <div class="ft">
    <button id="closeFacebox">Close</button>
    <button id="submitAddToCart">Add to Shopping bag</button>
  </div>
</div>