<% @body_id = 'login' %>
<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div class="textSpacing">
  <h2><%= t("editing_user") %></h2>
  <div class="loginForm">
    <%= semantic_form_for @user, :url => user_password_path, :html => {:method => :put} do |form| %>
      <%= form.inputs do %>
        <%= form.input :email %>
        <%= form.input :password %>
        <%= form.input :password_confirmation %>
      <% end -%>
      <%= form.buttons do %>
        <%= form.commit_button :label => "Update" %>
      <% end -%>
    <% end %>
  </div>
</div>