<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div class="textSpacing">
  <h1><%= t("my_account") %></h1>

  <%= hook :account_summary do %>

  <table>
    <tr>
      <td><%= t("email") %>:</td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
  </table>
  <p><%= link_to t('edit'), edit_account_path %></p>

  <% end %>

  <%= hook :account_my_orders do %>

  <h2><%= t("my_orders") %></h2>
  <% if @orders.present? %>
  <div class="simpleTable">
    <table class="order-summary" width="545">
      <thead>
        <tr>
          <th><%= t("order_number") %></th>
          <th><%= t("order_date") %></th>
          <th><%= t("status") %></th>
          <th><%= t("payment_state") %></th>
          <th><%= t("shipment_state") %></th>
          <th><%= t("total") %></th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to order.number, order_url(order) %></td>
          <td><%=order.created_at.to_date%></td>
          <td><%= t(order.state).titleize %></td>
          <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
          <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
          <td><%= number_to_currency order.total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <p><%= t(:you_have_no_orders_yet) %></p>
  <% end %>
  <br />
  <% end %>
</div>