<div id="taxonomies" class="sidenav sidebar-item">
  <ul class="navigation-list">
  <% @taxons.each do |taxon| -%>
    <% if is_controller?('products','show') -%>
      <li<%== ' class="active"' if @product.taxons and @product.taxons.include?(taxon) %>>
    <% else -%>
      <li<%== ' class="active"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
    <% end -%>
      <h3><%= link_to taxon.name, seo_url(taxon) %></h3>
      <% if !taxon.products.active.blank? -%>
      <ul>
        <% for product in taxon.products.active -%>
          <li><%= link_to nav_title(product), product %></li>
        <% end -%>
      </ul>
      <% end -%>
    </li>
  <% end -%>
  </ul>
</div>