// Defaults ----------------------------------------------------------------------
$font-size: 13px;
$text-color: #fefefe;
$body-color: #000000;
$side-menu-width: 176px;
$heading-color-1: #BFBFBF;

$default-text-shadow-color: #444;
$default-text-shadow-h-offset: 0;
$default-text-shadow-v-offset: 3px;
$default-text-shadow-blur: 7px;