@import "compass/css3/text-shadow";

html, body {
  background: $body-color; 
  color: $text-color; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: 1px solid #7D7D7D;
  border-width: 0 0 1px 0;
  margin: 10px 0 10px 0; }

code {
  color: #0B8C8F; }

a {
  color: #cccccc;
  text-decoration: none;
  &:focus, &:hover {
    color: #FFF; }}

ol.simpleList li {
  list-style-type: decimal;
  margin-left: 40px; }

ul.simpleList li {
  list-style-type: disc;
  margin-left: 40px; }
 
.head {
  background:transparent url('../images/Header.jpg') no-repeat top left;
  width: 955px;
  height: 135px;
  position: relative;
  border-bottom: 1px solid #fff;
  .nav {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
    float: right;
    padding-right: 35px;
    letter-spacing: 1px;
    padding-top: 110px;
    color: #CCC; }}
    
.subnav {
  @include pie-clearfix;
  position: relative;
  height: 23px;
  font-size: 12px;
  color: #FFF;
  padding-top: 7px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff; 
  .logout_link {
    float: left;
    padding-left: 35px;
  }
  .basket_link {
    float: right;
    padding-right: 38px;
  }}

.foot {
  height: 60px;
  margin-bottom: 10px;
  clear: both;
  background-image: url('../images/Footer.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #333;
  border-top: 1px solid #ffffff; }
  
.footRight {
  text-align: right; }
  
#main {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  .firstUnit .spacing, 
  .lastUnit .spacing {
    padding-left: 10px; }
  .textSpacing {
    padding: 0 10px; }}
  
.per5 {
  background: transparent url('../images/side_menu.jpg') no-repeat top left;
  height: 501px;
  border-right: 1px solid #FFF; }

.facebookLike {
  padding: 15px 0 0 35px;}
  
.social_link li {
  display: inline; }
  
#login .cart {
  display: none; }
  
button.clearButton {
  border: none;
  background: transparent;
  padding: 0;}
button.addToCartButton {
  margin-left: 95px;
}

.option-type-wrapper {
  @include pie-clearfix;
  margin-bottom: 10px;
  span.option-type {
    display: block;
    width: 95px;
    float: left;
  }
}
.buying {
  float: left;
}
  
#homepage {
  .showcase-content-container {
    width: 955px;
    height: 500px;
    overflow: hidden;}
    .body, .subnav {
      display: none; }}
  
h1.mainLogo {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  background: transparent;
  width: 320px;
  height: 110px;
  a { 
    display: block;
    width: 320px;
    height: 110px;
    text-indent: -9999em; }}
    
.errorExplanation h2 {
  color: #DE3401;
}
    
.field_with_errors {
  label {
    color: #DE3401;
  }
}

.flash {
  position: absolute;
  width: 350px;
  top: 0;
  left: 50%;
  margin-left: -175px;
}

.usesBilling {
  .string, .required, .optional {
    display: none;
  }}
  
#variant-images {
  display: none;
}

.subcription {
  padding: 25px 35px 0;
}

.subFoot {
  @include pie-clearfix;
  padding-bottom: 10px;
  font-size: 11px;
  color: #676767;
  a {
    color: #676767;
    &:hover {
      color: #ccc;
    }
  }
}
.copyRight {
  margin-left: 35px;
}
.descreteMenu {
  @include pie-clearfix;
  float: right;
  margin-right: 35px;
}

.banner {
  height: 500px;
}

.hideArrows {
  overflow: hidden;
}

.swarovski {
  position: absolute;
  top: 20px;
  right: 35px;
}


