.currencyConvertor {
  color: #555;
  h2 {
   color: #444;}
  label, span.beforeSend {
    color: #999;
    font-size: 10px;
    -webkit-font-smoothing: antialiased; }}

.coversionResult {
  padding: 20px 10px;
  -webkit-font-smoothing: antialiased;
  span.convertedPrice {
    font-size: 15px; }}

.outOfStock {
  h2 {
    padding-top: 0;
    color: #444;}
  p {
    -webkit-font-smoothing: antialiased;
    color: #555;
  }
  .ft {
    text-align: right;
  }
}