#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  .popup {
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4); }
  .content {
    display: table;
    width: 370px;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    > p {
      &:first-child {
        margin-top: 0; }
      &:last-child {
        margin-bottom: 0; } } }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    background: #fff;
    img {
      opacity: 0.3; }
    &:hover img {
      opacity: 1.0; } }
  .loading, .image {
    text-align: center; }
  img {
    border: 0;
    margin: 0; } }

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.facebox_hide {
  z-index: -100; }

.facebox_overlayBG {
  background-color: #000;
  z-index: 99; }