/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically 
appropriate heading levels - NOT for use on non-headings */

h1, .h1 {
  padding-top: 10px;
  font-size: 96%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1; }

h2, .h2 {
  padding-top: 10px;
  font-size: 96%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1; }

h3, .h3 {
  padding-top: 10px;
  font-size: 96%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1; }

h4, .h4 {
  padding-top: 5px;
  font-size: 90%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1; }

h5, .h5 {
  padding-top: 5px;
  font-size: 90%;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1; }

h6, .h6 {
  padding-top: 5px;
  font-size: 90%;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  color: $heading-color-1; }
  
legend, .lengend {
  padding-top: 10px;
  font-size: 96%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $heading-color-1;
}

