/*
Copyright (c) 2009, Nicole Sullivan. All rights reserved.
Code licensed under the BSD License:
version: 0.2
*/
/* **************** BLOCK STRUCTURES ***************** */
/* mod */

.mod {
  margin: 10px;
  .inner {
    /*background: url(skin/transparent.png) repeat left top;*/ } }

.bd, .ft, .hd {
  display: inline-block;
  width: 100%;
  *display: block;
  *width: auto;
  zoom: 1; }

.inner:after, .hd:after, .bd:after, .ft:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }

.inner {
  position: relative; }

b {
  &.top, &.bottom {
    display: block;
    background-repeat: no-repeat;
    font-size: 1%;
    position: relative;
    z-index: 10;
    b {
      display: block;
      background-repeat: no-repeat;
      font-size: 1%;
      position: relative;
      z-index: 10; } } }

.tl, .tr, .bl, .br {
  height: 10px;
  width: 10px;
  float: left; }

.tl {
  background-position: left top; }

.tr {
  background-position: right top; }

.bl {
  background-position: left bottom; }

.br {
  background-position: right bottom;
  float: right; }

.tr {
  float: right;
  overflow: hidden;
  margin-bottom: -32000px; }

.tl {
  overflow: hidden;
  margin-bottom: -32000px; }

/* margin bottom needs to be < -9px */

.bl, .br {
  margin-top: -10px; }

.top {
  background-position: center top; }

.bottom {
  background-position: center bottom;
  _zoom: 1; }

/* this zoom required for IE5.5 only*/
/* complex */

.complex {
  overflow: hidden;
  *position: relative;
  *zoom: 1;
  .tl, .tr {
    height: 32000px;
    margin-bottom: -32000px;
    width: 10px; }
  .bl, .br {
    /*margin-top:0;*/ }
  .top {
    height: 5px; }
  .bottom {
    height: 5px;
    /*margin-top:-10px;*/ } }

/* position/zoom required for IE7, 6, 5.5 */

/* pop */

.pop {
  overflow: visible;
  margin: 10px 20px 20px 10px;
  background-position: left top;
  .inner {
    right: -10px;
    bottom: -10px;
    background-position: right bottom;
    padding: 0 10px 10px 0; }
  .tl, .br {
    display: none; }
  .bl {
    bottom: -10px; }
  .tr {
    float: right;
    margin-right: -10px;
    _display: inline;
    /*fix double margin bug*/ } }
