#product-thumbnails {
  @include pie-clearfix;
  li {
    display: block;
    float: left;
    margin-right: 5px;
  }
}

.product-detail {
  position: relative;
  font-family: Arial, sans-serif;
  height: 490px;
}

.product-images {
  position: absolute;
  left: 5px;
  top: 5px;
}

.product-texts {
  position: absolute;
  top: 0;
  left: 416px;
  height: 500px;
}

.cart-form-position {
  position: absolute;
  bottom: 0;
  left: 0;
  @include pie-clearfix;
  width: 327px;
}

.product-description {
  margin-right: 35px;
  margin-bottom: 5px;
  p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 14px;
  }
}

.product-title-wrap {
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 22px;
  text-transform: none;
  color: #fff;
}

#product_3_title {
  text-indent: -99999em;
  background: url('../images/titles_sprite.png') no-repeat 0 -260px;
  height: 50px;
  margin: 0;
  padding: 0;
}

#product_5_title {
  text-indent: -99999em;
  background: url('../images/titles_sprite.png') no-repeat 0 -59px;
  height: 50px;
  margin: 0;
  padding: 0;
}

#product_16_title {
  text-indent: -99999em;
  background: url('../images/titles_sprite.png') no-repeat 0 -124px;
  height: 50px;
  margin: 0;
  padding: 0;
}

#product_15_title {
  text-indent: -99999em;
  background: url('../images/titles_sprite.png') no-repeat 0 0;
  height: 50px;
  margin: 0;
  padding: 0;
}

#product_13_title {
  text-indent: -99999em;
  background: url('../images/titles_sprite.png') no-repeat 0 -187px;
  height: 50px;
  margin: 0;
  padding: 0;
}

#product_12_title, #product_11_title {
  padding: 0;
  padding-left: 128px;
  line-height: 50px;
  background: url('../images/titles_sprite.png') no-repeat 0 -59px;
  height: 50px;
  margin: 0;
}

.prices {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  a.currencyLookup {
    font-size: 10px;
    color: #6C6C6C;
    &:hover {
      color: #ADADAD;}}}

.product-listing {
  @include pie-clearfix;
  margin: 5px;
   li {
    float: left;
    display: block;
    width: 185px;
    height: 215px;
    margin: 0 7px 7px 0;
    &:hover a {
      color: #fff;}
    a.small_image {
      display: block;
      width: 185px;
      height: 185px;
      border: 1px solid #000;
      &:hover {
        border: 1px solid #444; }}}}

#cart-form {
  position: relative;
}

#cart-detail {
  width: 100%;
  td {
    padding: .2em .4em 1em .4em;
  }
}

.cartDescription {
  width: 250px;
}

.variantOptionsList {
  li {
    @include pie-clearfix;
    padding: 0;
    .label {
      display: block;
      float: left;
      width: 120px;
    }
  }
}

#option-type_shirt_style_womens, #option-type_shirt_style_mens {
  position: absolute;
  left: -9999em;
  top: -9999em;
}

.order_subtotal {
  text-align: right;
  h3 {
    font-size: 102%;
    color: #fefefe;
  }
}

.ordersWindow {
  overflow: auto;
  height: 380px;
}

.cartButtons {
  text-align: right;
}