.shirt_styles_section {
  position: relative;
  height: 150px;
  .shirt_styles_title {
    width: 85px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 35px;}
}
.shirt_styles {
  width: 250px;
  height: 115px;
  position: relative;
  left: 90px;
  top: 0;
  div {
    background: url('../images/shirt-styles-sprite.png') no-repeat 0 0;
    height: 115px;
    position: absolute;
    top: 0;
    text-indent: -9999em;
    &.vest {
      width: 60px;
      left: 0; }
    &.racer_back {
      width: 75px;
      left: 80px; }
    &.half_sleeve {
      left: 168px;
      width: 80px; }}}

.shirtStyle_black div {
  &.vest {
    background-position: 0 0;
    &:hover, &.selected {
      background-position: -250px 0; }}
  &.racer_back {
    background-position: -80px 0;
    &:hover, &.selected {
      background-position: -330px 0; }}
  &.half_sleeve {
    background-position: -168px 0; 
      &:hover, &.selected {
        background-position: -418px 0; }}}
          
.shirtStyle_white div {
  &.vest {
    background-position: 0 -115px;
    &:hover, &.selected {
      background-position: -250px -115px; }}
  &.racer_back {
    background-position: -80px -115px;
    &:hover, &.selected {
      background-position: -330px -115px; }}
  &.half_sleeve {
    background-position: -168px -115px;
      &:hover, &.selected {
        background-position: -418px -115px; }}}