#sidebar {
  position: relative; }
.sidenav {
  font: bold 12px Verdana, Geneva, sans-serif;
  line-height: 14px;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  top: 40px;
  display: block;
  width: 145px;
  li {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
      a {
        padding: 2px 2px 2px 15px;
        display: block;
        font-weight: bold;
        background:transparent url('../images/Nav-Drop.png') no-repeat left center;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc; }}
      ul {
        display: none;
        li {
          border: none;
          text-transform: uppercase;
          font: bold 10px Verdana, Geneva, sans-serif;
          margin: 0;
          a {
            display: block;
            background-attachment: none; }}}
  &.active ul {
    display: block; }}}