form {
  // <li> Field wrappers
  li {
    padding: 10px 0px;
    // <li> Check/Radio wrappers
    li {
      padding: 0;
    }

  }
  //--------------------------------------------------------
  // Fieldsets
  //--------------------------------------------------------

  // Be sure to override styling for nested fieldsets
  li {
    fieldset {
      padding: 0;
    }

  }
  //--------------------------------------------------------
  // Legend & Labels
  //--------------------------------------------------------
  legend, label {
    // Set color manually to override IE's stupid rules for legends
    color: #ccc;
  }
  label, .label {
    padding-bottom: 5px;
    // required * <--styling
    abbr {
      color: red;
    }

  }
  label {
    line-height: 1.4em;
    font-size: 90%;
  }
  legend {
    span {
      // Set lineheight for dumb IE
      line-height: 1em;
      &.label {
        font-size: 1em;
      }
    }
  }
  //--------------------------------------------------------
  // Inputs
  //--------------------------------------------------------
  select {
    padding: 3px;
  }
  input, textarea, select {
    font-family: inherit;
    font-size: 90%;
  }
  textarea, input {
    border: 1px solid #999999;
    padding: .3em;
    line-height: 100%;
  }
  //--------------------------------------------------------
  // Date Time Styling
  //--------------------------------------------------------
  .date, .time, .datetime {
    li {
      margin: 0 0.3em 0 0;
    }
  }
  //--------------------------------------------------------
  // Feedback (Requirements, Errors and Hints)
  // Add horizontal margin/padding with care as it can
  // break the layout on floats!
  //--------------------------------------------------------
  #errorExplanation {
    li {
      margin-left: 15px;
    }

  }
  form p, .errors {
    padding: 3px 0px;
  }
  .required {
    input,textarea,select {
      background-color: white;
    }

  }
  .error {
    input,textarea,select {
      background-color: #ffcccc;
      border: 1px solid #ff6666;
    }

  }
  .optional {
    input,textarea,select {
      background-color: white;
    }

  }
  .errors {
    color: #aa0000;
    li {
      margin-left: 1.2em;
    }

  }
  p.inline-errors {
    color: red;
  }
  p.inline-hints {
    color: #777777;
  }
  //--------------------------------------------------------
  // Submit Buttons
  //--------------------------------------------------------
  .buttons {
    padding-top: 0;
    padding-bottom: 8px;
    margin-top: 0;
    input {
      border: 1px solid #999999;
    }

  }

}
