/** 
 * Data Table 
 * Allows you to align various table cells so that the alignment class can be placed on either the table, table row, or table cell 
 * Cell takes precedence over table row and table
 * Table row takes precedence over table
 */
@import "compass/css3/border-radius";

.data {
  position: relative;
  zoom: 1;
  vertical-align: top;
  text-align: left;
  /*border-right:solid 1px transparent;*/
  /* border fixes a FF2 bug which causes the data table to overlay its borders*/
  table {
    width: 100%;
    table-layout: fixed; } }

th, td {
  padding: 0 .4em 0 .2em;
  /*vertical-align:top;*/ }

/* horizontal alignment */

.txtC {
  text-align: center; }

table {
  .txtC, tr .txtC {
    text-align: center; } }

.txtL {
  text-align: left; }

table {
  .txtL, tr .txtL {
    text-align: left; } }

.txtR {
  text-align: right; }

table {
  .txtR, tr .txtR {
    text-align: right; } }

/* vertical alignment */

.txtT {
  vertical-align: top; }

table {
  .txtT, tr .txtT {
    vertical-align: top; } }

.txtB {
  vertical-align: bottom; }

table {
  .txtB, tr .txtB {
    vertical-align: bottom; } }

.txtM {
  vertical-align: middle; }

table {
  .txtM, tr .txtM {
    vertical-align: middle; } }

.data {
  th, td {
    padding: 3px 20px; } }

.simpleTable {
  padding: 10px 0 10px 0;
  table {
    border-top: 1px solid #A7A7A7;
    border-bottom-color: #fff;
    border-left: none;
    border-right: none; }
  th, td {
    border: 1px solid #A7A7A7;
    border-width: 1px 0;
    padding-left: 0; }
  .odd {
    background-color: #1E1E1E; }
  .even{
    background-color: #282828; } }


.simpleTable table#cart-detail {
  td.subTable {
    padding: 0;
  }
  .optionsListTable {
    border: 1px solid #444;
    margin: 2px;
    padding: 3px;
    background: #0E0F0F;
    @include border-radius(5px);
    table {
      border: 1px solid #444;
      border-collapse: collapse;
      background: #080808;
      width: 100%;
      td {
        border: none;
        padding: 0 5px 0;
        width: 70%;
      }
      th {
        width: 30%;
        color: #BAC0C0;
        border: 1px solid #444;
        border-width: 0 1px 0 0;
        padding-left: 0.2em; }
      th, td {
        border-bottom: 1px solid #444;
        background-color: #111;
      }
    }
  }
}



