/* **************** TALK BUBBLE ***************** */

.bubble {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1;
  margin: 10px;
  b b {
    position: absolute;
    height: 0;
    width: 0;
    border: solid 7px transparent;
    _border: 7px solid white; }
  .bottom {
    visibility: hidden; } }

/* top bubbles */

.bubbleTop {
  .inner {
    margin-top: 7px; }
  b b {
    top: 0;
    left: 10px;
    border-top-style: none; } }

/* left bubbles */

.bubbleLeft {
  .inner {
    margin-left: 7px; }
  b b {
    top: 10px;
    left: 0;
    border-left-style: none; } }

/* right bubbles */

.bubbleRight {
  .inner {
    margin-right: 7px; }
  b b {
    top: 10px;
    right: 0;
    border-right-style: none; } }

/* bottom bubbles */

.bubbleBottom {
  .inner {
    margin-bottom: 7px; }
  b b {
    bottom: 0;
    left: 10px;
    border-bottom-style: none; }
  .bottom {
    visibility: visible; } }

/* extensions (swaps alignment of talk bubble) */

.bubbleHorizontalExt b b {
  top: auto;
  bottom: 10px;
  visibility: visible; }

/* apply to bubbleLeft or bubbleRight */

.bubbleVerticalExt b b {
  right: 10px;
  left: auto; }

/* apply to bubbleTop or bubbleBottom */
