.bubble {
  margin: 0;
}
.yowza p {
  margin: 10px;
}
.yowza .bd {
  position: relative;
}
#closeFlash {
  position: absolute;
  right: 2px;
  color: #222;
  top: 2px;
  display: block;
  text-indent: 0;
  &:hover {
    background: #222;
    color: #ccc;
  }
}