/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/

/* Global Declaration */

div {
  &.selector {
    background-image: url('../images/sprite-agent.png');
    background-repeat: no-repeat;
    span {
      background-image: url('../images/sprite-agent.png');
      background-repeat: no-repeat; } }
  &.checker span, &.radio span {
    background-image: url('../images/sprite-agent.png');
    background-repeat: no-repeat; }
  &.uploader {
    background-image: url('../images/sprite-agent.png');
    background-repeat: no-repeat;
    span.action {
      background-image: url('../images/sprite-agent.png');
      background-repeat: no-repeat; } } }

.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader * {
  margin: 0;
  padding: 0; }

/* SPRITES */

/* Select */

div {
  &.selector {
    background-position: -483px -160px;
    line-height: 32px;
    height: 32px;
    span {
      background-position: right 0px;
      height: 32px;
      line-height: 32px; }
    select {
      /* change these to adjust positioning of select element */
      top: 0px;
      left: 0px; }
    &:active, &.active {
      background-position: -483px -192px; }
    &:active span, &.active span {
      background-position: right -32px; }
    &.focus, &.hover, &:hover {
      background-position: -483px -224px; }
    &.focus span, &.hover span, &:hover span {
      background-position: right -64px; }
    &.focus {
      &:active, &.active {
        background-position: -483px -256px; } }
    &:hover:active, &.active:hover {
      background-position: -483px -256px; }
    &.focus:active span, &:hover:active span, &.active:hover span, &.focus.active span {
      background-position: right -96px; }
    &.disabled {
      background-position: -483px -288px;
      &:active, &.active {
        background-position: -483px -288px; }
      span, &:active span, &.active span {
        background-position: right -128px; } } }
  &.checker {
    width: 23px;
    height: 23px;
    input {
      width: 23px;
      height: 23px; }
    span {
      background-position: 0px -320px;
      height: 23px;
      width: 23px; }
    &:active span, &.active span {
      background-position: -23px -320px; }
    &.focus span, &:hover span {
      background-position: -46px -320px; }
    &.focus:active span, &:active:hover span, &.active:hover span, &.focus.active span {
      background-position: -69px -320px; }
    span.checked {
      background-position: -92px -320px; }
    &:active span.checked, &.active span.checked {
      background-position: -115px -320px; }
    &.focus span.checked, &:hover span.checked {
      background-position: -138px -320px; }
    &.focus:active span.checked, &:hover:active span.checked {
      background-position: -161px -320px; }
    &.active {
      &:hover span.checked, &.focus span.checked {
        background-position: -161px -320px; } }
    &.disabled {
      span, &:active span, &.active span {
        background-position: -184px -320px; }
      span.checked, &:active span.checked, &.active span.checked {
        background-position: -207px -320px; } } }
  &.radio {
    width: 23px;
    height: 23px;
    input {
      width: 23px;
      height: 23px; }
    span {
      height: 23px;
      width: 23px;
      background-position: 0px -343px; }
    &:active span, &.active span {
      background-position: -23px -343px; }
    &.focus span, &:hover span {
      background-position: -46px -343px; }
    &.focus:active span, &:active:hover span {
      background-position: -69px -343px; }
    &.active {
      &:hover span, &.focus span {
        background-position: -69px -343px; } }
    span.checked {
      background-position: -92px -343px; }
    &:active span.checked, &.active span.checked {
      background-position: -115px -343px; }
    &.focus span.checked, &:hover span.checked {
      background-position: -138px -343px; }
    &.focus:active span.checked, &:hover:active span.checked, &.focus.active span.checked, &.active:hover span.checked {
      background-position: -161px -343px; }
    &.disabled {
      span, &:active span, &.active span {
        background-position: -184px -343px; }
      span.checked, &:active span.checked, &.active span.checked {
        background-position: -207px -343px; } } }
  &.uploader {
    background-position: 0px -366px;
    height: 32px;
    span {
      &.action {
        background-position: right -494px;
        height: 24px;
        line-height: 24px; }
      &.filename {
        height: 24px;
        /* change this line to adjust positioning of filename area */
        margin: 4px 0px 4px 4px;
        line-height: 24px; } }
    &.focus, &.hover, &:hover {
      background-position: 0px -430px; }
    &.focus span.action, &.hover span.action, &:hover span.action {
      background-position: right -526px; }
    &.active span.action, &:active span.action {
      background-position: right -558px; }
    &.focus.active span.action, &:focus.active span.action, &.focus:active span.action, &:focus:active span.action {
      background-position: right -590px; }
    &.disabled {
      background-position: 0px -398px;
      span.action {
        background-position: right -462px; } } }
  &.selector {
    margin-bottom: 20px;
    width: 190px;
    font-weight: bold;
    color: #464545;
    font-size: 14px;
    select {
      width: 190px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      border: solid 1px #fff; }
    span {
      padding: 0px 25px 0px 2px;
      cursor: pointer;
      color: #ffffff;
      width: 158px;
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px; }
    &.disabled span {
      color: #bbb; } }
  &.checker, &.radio {
    margin-right: 10px; }
  &.uploader {
    width: 190px;
    margin-bottom: 20px;
    cursor: pointer;
    span {
      &.action {
        width: 83px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
        background-color: #1a1a1a;
        font-weight: bold;
        color: #ffffff; }
      &.filename {
        color: #1a1a1a;
        width: 82px;
        border-right: solid 1px #2e2e2e;
        font-size: 90%;
        font-size: 11px; } }
    input {
      width: 190px; }
    &.disabled span {
      &.action {
        color: #aaa; }
      &.filename {
        border-color: #ddd;
        color: #aaa; } } } }

/* Checkbox */

/* radio */

/* uploader */

/* PRESENTATION */

/* Select */

/* checker */

/* radio */

/* uploader */

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
  outline: 0; }

/* Select */

div {
  &.selector {
    position: relative;
    padding-left: 10px;
    span {
      display: block;
      float: left; }
    select {
      position: absolute;
      opacity: 0; } }
  &.checker {
    position: relative;
    float: left;
    span {
      display: block;
      float: left;
      text-align: center; }
    input {
      opacity: 0;
      display: inline-block; } }
  &.radio {
    position: relative;
    float: left;
    span {
      display: block;
      float: left;
      text-align: center; }
    input {
      opacity: 0;
      text-align: center;
      display: inline-block; } }
  &.uploader {
    position: relative;
    float: left;
    overflow: hidden;
    span {
      &.action {
        float: left;
        display: inline;
        padding: 4px 0px;
        overflow: hidden;
        cursor: pointer; }
      &.filename {
        padding: 0px 10px;
        float: left;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      float: right; } } } 