// Imports -------------------------------------------------------------------
@import "compass/utilities/general";
@import "base";
@import "oocss_core";

/* Layout ------------------------------------------------------------------*/

@import "content";
@import "sidenav";
@import "wishlist";
@import "showcase";
@import "product_options";
@import "product";
@import "checkout";
@import "progress";
@import "facebox";
@import "currency_convertor";

@import "formtastic_base";
@import "skintastic";

@import "uniform.default";

.defaultForm .formtastic {
  @include float-form(500px,130px,360px,0,buttons-right);
}

.loginForm .formtastic {
  padding-top: 20px;
  @include float-form(340px,120px,210px,0,buttons-right);
  .inputs li {
    padding: 3px 0;
  }
}

.addressForm .formtastic {
  @include float-form(370px,120px,240px,0,buttons-right);
  .inputs li {
    padding: 3px 0;
  }
}

.compactForm .formtastic {
  @include stack-form();
}

#saveAndContinue .buttons {
  width: 616px;
}