<%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
  </td>
  <td class="subTable">
    <div class="optionsListTable">
      <table>
        <% variant.options_list.each do |option| -%>
        <tr>
          <th><%= option.label %></th>
          <td><%= option.value %></td>
        </tr>
        <% end -%>
      </table>
    </div>
  </td>
  <td>
    <%= hook :cart_item_price, locals do %>
      <%=  product_price(line_item) %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_quantity, locals do %>
      <%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_total, locals do %>
      <%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_delete, locals do %>
      <%= link_to('Remove from <br>shopping bag'.html_safe, '#', :class => 'delete') %>
    <% end %>
  </td>
</tr>