<% @body_id = 'cart' %>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<div class="textSpacing">
  <h2><%= t("shopping_cart")%></h2>
</div>
<div class="ordersWindow">
  <div class="textSpacing">
    <% if @order.line_items.empty? %>
      <%= hook :empty_cart do %>
        <br>
        <p>Your shopping bag is empty <%=link_to "continue shopping here", products_path, :class => 'button continue' %></p>
      <% end %>
    <% else %>
      <%= hook :outside_cart_form do %>
        <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
          <%= hook :inside_cart_form do %>
            <div class="simpleTable">
              <%= hook :cart_items do %>
                <%= render :partial => 'form', :locals => {:order_form => order_form} %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% if !@order.line_items.empty? %>
  <div class="textSpacing">
    <div id="subtotal" class="order_subtotal">
      <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
    </div>
    <hr>
    <div class="line cartButtons">
      <div class="unit size1of4">
        &nbsp;
      </div>
      <div class="unit size1of4">
        <%= form_tag empty_cart_path, :method => :put do %>
          <input type="submit" value="<%= t('empty_cart') %>" class="button" />
        <% end %>
      </div>
      <div class="unit size1of4">
        <%= link_to t("update"), '#', :class => 'button checkout primary', :onclick => "$('form#updatecart').submit(); return false;" %>
      </div>
      <div class="unit size1of4 lastUnit">
        <%= link_to t("checkout"), checkout_path, :class => 'button checkout primary' %>
      </div>
    </div>
  </div>
<% end -%>