<% @body_id = 'cart' %>
<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<div id="order" class="textSpacing">
  <h2><%= accurate_title %></h2>
  <% if params.has_key? :checkout_complete %>
  	<h3><%= t('thank_you_for_your_order') %></h3>
  <% end %>
  <div class="simpleTable">
    <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  </div>
  <p>
    <%= link_to t('back_to_store'), root_path %>
    <% unless params.has_key? :checkout_complete %>
    	| <%= link_to t('my_account'), account_path if current_user%>
    <% end %>
  </p>
</div>
