<% content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
  <% if @page.attribute_present? :meta_keywords -%>
    <meta name="keywords" content="<%=@page.meta_keywords%>">
  <% end -%>
  <% if @page.attribute_present? :meta_description -%>
    <meta name="description" content="<%=@page.meta_description%>">
  <% end -%>
<% end -%>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    &nbsp;
  <% end %>
<% end %>
<div class="textSpacing">
  <%= raw @page.body %>
</div>