Hi <%= @message.name %>,

We have received your message via the contact for on the PER5 website.

Someone will get back to you as soon as possible.

Thank you,

PER5 Clothing

--
http://www.per5.co.uk/
sales@per5.co.uk