<p>Hi <%= @message.name %>,</p>
<p>
  We have received your message via the contact for on the PER5 website.
</p>
<p>
  Someone will get back to you as soon as possible.
</p>
<p>
  Thank you,
</p>
<p>
  PER5 Clothing
</p>
<hr>
<p>
  http://www.per5.co.uk/<br>
  sales@per5.co.uk
</p>