<p>
  From: <%= @message.name %> <<%= @message.email %>>
</p>
<%= simple_format @message.content %>
<hr>
<p>
  Sent from <a href="http://www.per5.co.uk/contact/">http://www.per5.co.uk/contact/</a>
</p>