<%= form_for :order, :url => populate_orders_url do |f| %>

<%= hook :inside_product_cart_form do %>
  <% if @product.has_variants? %>
    <div id="product-variants">
      <%= render :partial => (Spree::Config[:eot_presentation_type] || 'radio_sets'), :locals => {:f => f} %>
    </div>
  <% end%>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
  <div class="option-type-wrapper">
    <span class="option-type">Quantity</span>
    <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
       1, :class => "title", :size => 3 %>
     &nbsp; <span id="stockLevel"><%= "Currently out of stock" if !@product.has_stock? %></span>
  </div>
  <div class="option-type-wrapper">
    <button type="submit" class="clearButton addToCartButton">
      <%= image_tag('per5-add-to-cart.png') %>
    </button>
  </div>
 
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>

<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>

