<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <%= render "shared/taxonomies" %>
  <% end %>
<% end %>


<% if params[:keywords] %>

  <%= hook :search_results do %>
    <% if @products.empty? %>
      <%= t(:no_products_found) %>
    <% else %>
      <%= render "shared/products", :products => @products, :taxon => @taxon %>
    <% end %>
  <% end %>

<% else %>

  <%= hook :homepage_products do %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>


<% end %>