<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<% @body_id = 'product-details' %>
<div class="product-detail">
  
  <div id="product-images" class="product-images">
    <%= hook :product_images do %>
    <div id="main-image" class="main-image">
      <%= render 'image' %>
    </div>
    <div id="thumbnails" class="thumbnails">
      <%= render 'thumbnails', :product => @product %>
    </div>
    <% end %>
  </div>

  <div class="product-texts">
    <div class="product-title-wrap">
      <h2 class="product-title" id="<%= dom_id(@product) %>_title"><%= @product.name %></h2>
    </div>
    <% if product_price(@product) -%>
      <%= hook :product_price do -%>
        <p class="prices">
          <span class="price selling update"><%= product_price(@product) %></span>
          <a href="/currencies.html" class="currencyLookup" title="Want to know what this is in your currency, see here"> currency converter</a>
        </p>
      <% end -%>
    <% end -%>
    <div id="product-description" class="product-description">
      <%= hook :product_description do %>
        <%= product_description(@product) rescue t("product_has_no_description") %>
      <% end %>
      <%= hook :product_properties do %>
        <%= render 'properties' %>
      <% end %>
    </div>

    <div class="cart-form-position">
    <%= hook :cart_form do %>
      <div id="cart-form">
        <%= render 'cart_form' %>
      </div>
    <% end %>
    </div>
  </div>
  
</div>