<% @body_id = 'login' %>
<% content_for :sidebar do %>
  &nbsp;
<% end %>
<div class="line">
  <div class="unit size1of2 firstUnit">
    <div class="spacing">
      <h2>New customers</h2>
      <%= render "shared/error_messages", :target => @user %>
      <%= hook :signup do %>
        <div class="loginForm">
          <%= semantic_form_for(:user, :url => registration_path(@user)) do |form| %>
            <%= form.inputs do %>
              <%= form.input :email %>
              <%= form.input :password %>
              <%= form.input :password_confirmation %>
            <% end -%>
            <%= form.buttons do %>
              <%= form.commit_button :label => "Create" %>
            <% end -%>
          <% end -%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="unit size2of2 lastUnit">
    <div class="spacing">
      <h2>Existing customers</h2>
      <br>
      <p>
        <%= link_to 'Can login here', login_path %>
      </p>
      <%= hook :login_extras %>
    </div>
  </div>
</div>