<% @body_id = 'login' %>
<% content_for :sidebar do %>
  &nbsp;
<% end %>
<div class="line">
  <div class="unit size1of2 firstUnit">
    <div class="spacing">
      <h2><%= t("login_as_existing") %></h2>
      <%= hook :login do %>
        <div class="loginForm">
          <%= semantic_form_for(:user, :url => user_session_path) do |form| %>
            <%= form.inputs do %>
              <%= form.input :email %>
              <%= form.input :password %>
              <%= form.input :remember_me, :as => :boolean %>
            <% end -%>
            <%= form.buttons do %>
              <%= form.commit_button :label => "Login" %>
            <% end -%>
          <% end -%>
        </div>
        <%= link_to "Forgotten your password?", new_user_password_path %>
      <% end %>
      <%= hook :login_extras %>
    </div>
  </div>
  <div class="unit size1of2 lastUnit">
    <div class="spacing">
      <h2>or register</h2>
      <br>
      <p><%= link_to t("create_a_new_account"), signup_path %></p>
    </div>
  </div>
</div>