<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="description" content="PER5 T-shirts London">
  <meta name="author" content="PER5 T-shirts London">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://cdn3.per5.co.uk/favicon.ico">
  <%= include_stylesheets :screen, :media => 'screen, projection' %>
  <%= include_stylesheets :print, :media => 'print' %>
</head>
<body id="<%= @body_id || controller.controller_name %>">
  <div id="container" class="page">
    <div class="head">
      <h1 class="mainLogo"><%= link_to 'PER5 T-Shirt Designs - London', root_url, :title => 'Home' %></h1>
      <div class="nav">
        <%= link_to "MENS", "/t/range/mens" %> | <%= link_to "WOMENS", "/t/range/womens" %> |
        <% if current_user.nil? -%>
          <% if %w(user_sessions user_passwords).include?(controller.controller_name) -%>
           <a href="#login">MY ACCOUNT</a> |
          <% else %>
           <%= link_to "MY ACCOUNT", login_path, :class => "cart" %> |
          <% end -%>
        <% else %>
          <%= link_to "MY ACCOUNT", account_path, :class => "cart" %> |
        <% end -%>
        <%= link_to "SHOP", products_path %> | <%= link_to "CONTACT", "/contact" %>
      </div>
    </div>
    <div class="subnav">
      <% if current_user.respond_to? :login -%>
        <div class="logout_link">
          <%= link_to " Logout", destroy_user_session_path, :class => "cart" %>
        </div>
      <% end -%>
      <div class="basket_link">
        <%= link_to_cart("SHOPPING BAG ") %>
      </div>
    </div>
    <% if content_for?(:banner) -%>
    <div id="banner" class="banner hideArrows">
      <%= yield :banner %>
    </div>
    <% end -%>
    <div class="body">
      <% if content_for?(:sidebar) %>
        <div id="sidebar" class="leftCol per5">
          <%= yield :sidebar %>
        </div>
      <% end %>
      <div id="main" class="main">
        <%= yield %>
      </div>
    </div>
    <div class="foot">
      <div class="line">
        <div class="unit size1of2">
          <div class="facebookLike">
            <a href="http://www.facebook.com/pages/PER5/393193054408" title="PER5 Facebook Page" target="_blank"><img src="http://cdn3.per5.co.uk/images/facebook.png" alt="facebook" width="31" height="31"></a>
            <img src="http://cdn3.per5.co.uk/images/facebook.jpg" alt="facebook">
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=149985251750582&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FPER5%2F393193054408&amp;send=false&amp;layout=button_count&amp;width=280&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:21px;" allowTransparency="true"></iframe>
          </div>
        </div>
        <div class="unit size2of2 footRight lastUnit">
          <div class="subcription">
            <a href="/mailchimp.html" rel="facebox" target="_blank" title="Sign up to receive occasional updates from the PER5 mailing list">SUBSCRIBE FOR UPDATES</a>
          </div>
        </div>
      </div>
    </div>
  <div class="subFoot line">
    <div class="unit size1of2">
      <div class="copyRight">
        &copy; copyright <%= Time.zone.now.year %> PER5 Ltd. All rights reserved.
      </div>
    </div>
    <div class="unit size2of2 lastUnit">
      <div class="descreteMenu">
      <% if (Page.footer_links.present?) -%>
        <%= raw Page.footer_links.map {|page| link_to page.title, page.link }.join(" | ") %>
      <% end -%>
      </div>
    </div>
  </div>
  </div>
  <% if flash.notice %>
    <div id="flashMessage" class="flash notice">
      <div class="mod bubble bubbleTop yowza bubbleVerticalExt"> 
        <b class="top"><b class="tl"></b><b class="tr"></b></b> 
        <div class="inner">
          <div class="bd">
            <p><%= flash.notice %></p>
          </div> 
        </div> 
        <b class="bottom"><b class="bl"></b><b class="br"></b></b> 
      </div>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div id="flashErrorMessage" class="flash error">
      <div class="mod bubble bubbleTop yowza bubbleVerticalExt"> 
        <b class="top"><b class="tl"></b><b class="tr"></b></b> 
        <div class="inner">
          <div class="bd">
            <p><%= flash[:error] %></p>
          </div> 
        </div> 
        <b class="bottom"><b class="bl"></b><b class="br"></b></b> 
      </div>
    </div>
  <% end %>
  <%= include_javascripts :application %>
  <%= yield :head %>
  <%= yield :javascripts %>
  <% if Rails.env == 'production' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25492467-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end -%>
</body>
</html>